@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,100&display=swap');

html,
body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
